Django>=5.0,<5.1
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-filter>=24.2
django-cors-headers>=4.3
drf-spectacular>=0.27
django-environ>=0.11
psycopg2-binary>=2.9
razorpay>=1.4
Pillow>=10.3
gunicorn>=22.0
whitenoise>=6.6.0
django-redis>=5.4
cloudinary>=1.36.0
resend>=2.0.0

# testing
pytest>=8.2
pytest-django>=4.8
factory-boy>=3.3